@font-face {
    font-weight: 300;
    font-family: "Pretendard-Light";
    src: url("./fonts/Pretendard-Light.otf") format("truetype");
}
@font-face {
    font-weight: 400;
    font-family: "Pretendard-Regular";
    src: url("./fonts/Pretendard-Regular.otf") format("truetype");
}
@font-face {
    font-weight: 500;
    font-family: "Pretendard-Medium";
    src: url("./fonts/Pretendard-Medium.otf") format("truetype");
}
@font-face {
    font-weight: 600;
    font-family: "Pretendard-SemiBold";
    src: url("./fonts/Pretendard-SemiBold.otf") format("truetype");
}
@font-face {
    font-weight: 700;
    font-family: "Pretendard-Bold";
    src: url("./fonts/Pretendard-Bold.otf") format("truetype");
}
@font-face {
    font-weight: 800;
    font-family: "Pretendard-ExtraBold";
    src: url("./fonts/Pretendard-ExtraBold.otf") format("truetype");
}

.navigation {
    position: absolute;
    height: 5.25vw; 
    width: 100vw;
    padding: 0 3.125vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 0.052vw solid rgba(0, 0, 0, 0.17);
    top: 0; 
    left: 0; 
}
  
.logo {
    font-family: 'Pretendard-ExtraBold';
    font-size: 2rem;
    width: 14.06vw;
    color: black;
}
  
.navLinks {
    display: flex;
    gap: 4.375vw;
    margin: 0 auto;
}
  
.navLink {
    font-family: 'Pretendard-ExtraLight';
    font-size: 1.5rem;
    color: black;
}
  
.navLink.active {
    font-family: 'Pretendard-Bold';
}
.popupUserName{
    font-family: 'Pretendard-bold';
    font-size: 1.5rem; 
    color: black;
    cursor: pointer;
    text-align: center;
}
.userSection {
    display: flex;
    align-items: right;
    justify-content: right;
    gap: 1.852vw;
    width: 14.06vw;
}
  
.userName {
    font-family: 'Pretendard-ExtraLight';
    font-size: 1.25rem; 
    color: black;
    text-align: center;
}
  
.icon {
    cursor: pointer;
    position: relative;
}
  
.icon::after {
    content: '';
    position: absolute;
    top: -0.463vw;
    right: -0.463vw;
    width: 0.926vw; 
    height: 0.926vw;
    background-color: red;
    border-radius: 50%;
    display: none;
}
  
.icon.notification::after {
    display: block;
}
  
.popup {
    position: absolute;
    background-color: white;
    border-radius: 1.852vw;
    box-shadow: 0 0.37vw 0.556vw rgba(0, 0, 0, 0.1);
    padding: 3.79vw 2.083vw 1.54vw 2.083vw;
    z-index: 1000;
    top: 0.926vw;
    min-height: 9.259vw;
}

.popup .section {
    margin-bottom: 1.2vw; 
}

.popup .section:last-child {
    margin-bottom: 0;
}

.popup .section .content .email {
    font-family: 'Pretendard-light';
    font-size: 1.25rem; 
    color: #a8a8a8;
}
.popup .section .popupUserName{
    font-size: 1.75rem;
    font-family: 'Pretendard-Bold';
}
.popup .section .title{
    font-size: 1rem;
    font-family: 'pretendard-SemiBold';
    margin-bottom: 1.54vw;
    margin-top:2.05vw
}
.popup .section .content .profileSettings {
    font-family: 'Pretendard-Regular';
    font-size: 1.25rem;
    cursor: pointer;
}
.popup .section .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Pretendard-bold';
    margin-bottom: 1.75vw;
    cursor: pointer;
}

.popup .divider {
    height: 0.093vw;
    background-color: rgba(216, 216, 216, 0.4);
    padding-left: 0!important;
}
.popup .logout {
    font-family: 'Pretendard-SemiBold';
    font-size:1rem ;
    color: #6F6F6F;
    margin-top: 1.54vw;
    cursor: pointer;
}
  
.profilePopup {
    width: 21.875vw;
    min-height: 9.259vw; 
}
  
.alarmPopup {
    width: 21.875vw; 
    min-height: 9.259vw; 
    padding: 3.79vw 2.083vw 1.54vw 2.083vw; /* 스마일 팝업과 동일한 패딩 설정 */
}

.close {
    position: absolute;
    top: 2.084vw; 
    right:2.084vw;
    cursor: pointer;
}

.authSection {
    display: flex;
    align-items: center;
    gap: 1.042vw;
    width: 14.06vw;
    justify-content: right;
}
  
.signUp {
    font-family: 'Pretendard-SemiBold';
    font-size: 1.125rem; 
    color: black;
    background-color: white;
}
  
.loginButton {
    background-color: black;
    color: white;
    font-family: 'Pretendard-SemiBold';
    font-size: 1.125rem; 
    width: 7.5vw; 
    height: 3.125vw;
    border-radius: 4.444vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
  
.loginIcon {
    font-size: 1.667vw;
}

.alarmPopup .notification {
    display: flex;
    justify-content: space-between;
}

.alarmPopup .notification .icon {
    width: 1.852vw; /* 20px / 1080px */
    height: 1.852vw; /* 20px / 1080px */
    margin-right: 0.833vw; /* 16px / 1920px */
}

.alarmPopup .notification .toptext {
    display: flex;

}
.alarmPopup .notification .toptext .title{
    font-size: 1rem;
    color: #939393;
    font-family: 'pretendard-Medium';
}
.alarmPopup .notification .time{
    font-size:1rem;
    color: #939393;
    font-family: 'pretendard-Medium';
}
.alarmPopup .bottomtext {
    font-size: 1.25rem;
    font-family: 'pretendard-bold';
    margin-left: 2.7vw;
}


.alarmPopup .divider {
    height: 0.093vw; /* 1px / 1080px */
    background-color: rgba(216, 216, 216, 0.4);
    margin: 2.222vw 0; /* 24px / 1080px */
}