@font-face {
    font-weight: 300;
    font-family: "Pretendard-Light";
    src: url("./fonts/Pretendard-Light.otf") format("truetype");
}
@font-face {
    font-weight: 400;
    font-family: "Pretendard-Regular";
    src: url("./fonts/Pretendard-Regular.otf") format("truetype");
}
@font-face {
    font-weight: 500;
    font-family: "Pretendard-Medium";
    src: url("./fonts/Pretendard-Medium.otf") format("truetype");
}
@font-face {
    font-weight: 600;
    font-family: "Pretendard-SemiBold";
    src: url("./fonts/Pretendard-SemiBold.otf") format("truetype");
}
@font-face {
    font-weight: 700;
    font-family: "Pretendard-Bold";
    src: url("./fonts/Pretendard-Bold.otf") format("truetype");
}
@font-face {
    font-weight: 800;
    font-family: "Pretendard-ExtraBold";
    src: url("./fonts/Pretendard-ExtraBold.otf") format("truetype");
}



/* ======================================== */
/* ============= 메인 포맷 ================= */
/* ======================================== */
.project{
    display: flex;
    position:absolute;
    min-height:100vh;
    width: 100%;

    overflow: hidden;
}

.leftNavBar{  
    width : 16.14vw;
    height: 100vh;
    background-color: white;
    position: relative;
    overflow: hidden; 
}
.tabs{
    margin-top:5.25vw;
    padding-top: 3.89vw;
    padding-left: 3.125vw;
    display:grid;
    gap:0.571vw;

}
.tab{
    display: flex;
    gap:2.08vw;
    cursor: pointer;
    padding-top:0.8vw;
    padding-bottom:0.8vw;

}

.tab .title{
    font-family: 'Pretendard-Medium';
    font-size: 1.25rem;
    color: #B1B1B1;
    align-content: center;
    height:1.8vw
}
.active_tab .title {
    color: #FF7676 !important;
    font-family: 'Pretendard-bold';
    font-size: 1.5rem;


}
.tab .icon {
    width: 1.59vw;
    height: 1.8vw;
    fill: #B1B1B1; /* 기본 색상 */
}


.active_tab .icon  {
    fill: #FF7676 !important;
    stroke: purple !important;

}

.active-bar {
    position: absolute;
    left: 0; /* 바를 왼쪽에 위치시킴 */
    width:0.3vw;
    height:4vw;
    background-color: #FF9696;
    border-radius: 0 10px 10px 0;
    transition: top 0.3s ease;
}
.rightContent{   
    background-color: #F5F5F5;
    opacity: 69%;
    width: 100vw;
    height: 100vh;     overflow-y: auto; 
}

.content{
    padding-top: 9.21vw;
    padding-left: 5.28vw;
    padding-right:5.28vw;
    display:grid;
}


/* =============================================== */
/* ============= homeContent.css ================= */
/* =============================================== */

.content .contentTitle{
    font-family: 'Pretendard-ExtraBold';
    font-size: 2.25rem;
}
.searchBox {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    width: 71.91vw;
    height: 4.375vh;
    margin-top:3.025vh;
    margin-bottom:1.27vh ;

}

.searchBox .input {
    display: flex;
    align-items: center;
    border-radius: 20px;
    height: 5.25vh;
    width: 71.91vw;
    background-color: white;
}
.searchBox .input input::placeholder{
    color:#C2C2C2;
    font-family: 'Pretendard-Light';
    font-size: 1rem;

}
.searchBox .input .icon {
    margin-left:1.563vw;
    margin-right:1.302vw;
    height: 26px;
}

.searchBox .input input {
    border: none;
    width: 71.91vw;
    border-radius: 20px;

    height: 5.25vh;
    text-justify: center;
    outline: none;
    flex-grow: 1;
    color:black;
    font-family: 'Pretendard-Medium';
    font-size: 1.25rem;
}
.searchHistroy {
    display: flex;
    gap: 0.625vw;
    margin-bottom: 1.27vh;
    align-items: center;
}

.searchHistroy .object {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.872vh; 
    padding-left: 1.563vw;
    padding-right: 1.563vw; 
    border-radius: 48px;
    box-shadow: 0 1px 5.5px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    font-family: 'Pretendard-Medium';
    font-size: 1rem;
    color: #7F7F7F;
    margin-bottom: 3.025vh;
}

.searchHistroy .object .xBtn {
    font-family: 'Pretendard-Bold';
    font-size: 1rem;
    color: #1D1D1D;
    cursor: pointer;
    margin-left: 1rem; 
}


.searchHistroy .btn {
    font-family: 'Pretendard-Medium';
    font-size: 1rem;
    text-decoration: underline;
    color: #C2C2C2;
    cursor: pointer;
}


.projectList .title{
    font-family: 'Pretendard-Bold';
    font-size: 1.5rem;
    margin-bottom: 1.27vh;
}
.projectList .object{
    width: 72.813vw;
    height: 25.833vh;
    border-radius: 48px;
    background-color: white;
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto; 
    align-items: center; 
    margin-bottom: 3.025vh;
}
.porjectList .object{

}
.object .object_icon{
    margin-right:4.167vw;
    height: 8.906vw;
    width : 8.906vw;
    margin-left: 4.427vw;
    border-radius: 48px;
    background-color: #F3F3F3;
}

.object .object_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 8.906vw;
    margin-right: 4.427vw;
}

.object .object_content .title {
    font-family: 'Pretendard-Bold';
    font-size: 2rem;
    margin-bottom: 1vh;
}

.object .object_content .explain {
    font-family: 'Pretendard-Light';
    font-size: 1rem;
    margin-top: 1vh;
}

.object .object_content .status {
    display: flex;
    gap: 15px; 
    height: 3.241vh;    
    margin-top: auto;
}

.object .object_content .status .publisher {
    background-color: black;
    color: white;
    padding: 0 15px;
    border-radius: 10px;
    font-family: 'Pretendard-semiBold';
    font-size: 0.813rem;
    display: flex;
    align-items: center;
}

.object .object_content .status .role {
    background-color: #F3F3F3;
    color: black;
    padding: 0 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-family: 'Pretendard-semiBold';
    font-size: 1rem;
}

.object .rightSide {
    margin-left: auto;
    margin-right: 4.427vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 8.906vw;
    justify-self: end; /* 요소를 오른쪽으로 정렬 */
}
.object .rightSide .pin{
    margin-bottom: 1.815vh;
    margin-left: auto;

}
.object .rightSide .deadLine{
    margin-left: auto;
    font-family: 'pretendard-Light';
    font-size: 1.25rem;

}
.object .rightSide .lastaccess{
    margin-left: auto;
    font-family: 'pretendard-Light';
    font-size:1rem;
}

/* ================================================== */
/* ============= projectContent.css ================= */
/* ================================================== */


.projectContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    margin-top:3.562vh;
}

.timeLine {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

.todoList {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
}

.liveChat {
    grid-column: 2 / 3;
    grid-row: 5 / 11;

}

.feedback {
    grid-column: 1 / 3;
    grid-row: 7 / 11;
    width: 48.542vw;
    height: 31vh;
}
.box1{
    background-color: white;
    border-radius: 24px;
    overflow-y: scroll;
    overflow-x: hidden
}


.projectContent .gonji {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: auto 1fr auto; 
    width: 48.542vw;
    height:5.188vh;
    font-size: 2rem;
    margin-bottom: 1.812vh;
    align-items: center;
}
.projectContent .gonji .gonjiIcon{
    padding-left: 2.604vw;
    padding-right:1.328vw
}
.projectContent .gonji .gonjiText{
    font-family: 'Pretendard-ExtraBold';
    font-size: 1.5rem;
    color:#1a1a1a;
}
.projectContent .gonji .gonjiEdit{
    padding-right: 2.604vw;

}
.projectContent .calendar {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: 21.51vw;
    height: 15vh;
    margin-left: 1.76vw;

}

.projectContent .calendar .calendarTop{
    margin-top:1.875vh;
    margin-left:1.667vw;
    margin-right:1.667vw;
    margin-bottom: 1.5vh;
    display: flex;
    justify-content: space-between;
}
.projectContent .calendar .calendarMid{
    margin-left:1.667vw;
    margin-right:1.667vw;
    display: flex;
    justify-content: space-between;
}
.projectContent .calendar .calendarMid .day{
    width: 2vw;
    margin-bottom: 2.313vh;
    font-family: 'pretendard-SemiBold';
    font-size: 0.8rem;
    color: #7F7F7F;
    text-align: center;

}
.projectContent .calendar .calendarTop .temp{
    display: flex;
    gap:1.302vw;
}
.projectContent .calendar .calendarTop .date{
    font-family: 'pretendard-ExtraBold';
    font-size: 1.25rem;
}
.projectContent .calendar .calendarBot{
    margin-left:1.667vw;
    margin-right:1.667vw;
    display: flex;
    justify-content: space-between;

}
.activeCal{
    color: #FF7676 !important;
    font-family: 'pretendard-Bold' !important;
    font-size: 1rem !important;
}
.calendarTodayDot{
    color: #FF7676;
    font-size: 0.7rem
}
.projectContent .calendar .calendarBot .day{
    width: 2vw;
    font-family: 'pretendard-SemiBold';
    font-size: 0.8rem;
    color: #7F7F7F;
    text-align: center;
}
.projectContent .todoStatus {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 48.542vw;
    display : flex;
    background-color: #F5F5F5 !important;
    justify-content: space-between;
    height: 8vh;
    margin-bottom: 1.125vh;
}

.projectContent .todoStatus .object{
    width: 11.354vw;
    background-color: white;
    border-radius: 1.25rem;
    align-content: center;
    height:8vh;
    display : block;
}
.projectContent .todoStatus .object .objectCount{
    margin-bottom: 1vh;
    padding-top: 1.5vh;
    padding-left:1.5vw;
    font-family: 'Pretendard-ExtraBold';
    font-size: 1.5rem;
}
.projectContent .todoStatus .object .objectTitle{
    padding-left: 0.833vw;
    padding-bottom: 1.5vh;
    padding-left:1.5vw;

    font-family: 'pretendard-Light';
    font-size: 0.875rem;
}
.projectContent .timeLine{

}
.projectContent .timeLine .title{
    margin-bottom: 1.125vh;
    font-family: 'Pretendard-extraBold';
    font-size:1.25rem;
    color:black;


}
.projectContent .timeLine .contentt{
    
    height: 39.688vh;
    width:71.823vw;
    margin-bottom: 1.125vh;

}   

.projectContent .timeLine .contentt .index{
    display:flex;
    height: 70px;
    text-align: center;
    align-content: center;
    border-bottom: rgb(0, 0, 0,0.3) solid 1px;
    width: fit-content;
    overflow: hidden;

}
.projectContent .timeLine .contentt .name{
    width: 20.521vw;
    
    align-content: center;

}
.projectContent .timeLine .contentt .index .top{
    width: 14.063vw;
    align-content: center;


}
.projectContent .timeLine .contentt .object{
    display: flex;
    border-bottom: 1px #0000000f solid;
}
.projectContent .timeLine .contentt .object .name{
    width: 20.521vw;
    text-align: center;
    border-right: 1px #0000000f solid;
    margin-right: 0.8rem;

}
.projectContent .timeLine .contentt .object .todoLine{
    height: fit-content;
    min-height: 7.352vw;}
.projectContent .timeLine .contentt .object .todoLine .todo{
    height: 36px;
    min-width: fit-content;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: #d50404;
    font-family: 'Pretendard-ExtraBold';
    color:white;
    font-style: underline;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
    align-content: center;


}
.projectContent .todoList .top{
    margin-bottom: 1.125vh;
    font-family: 'Pretendard-extraBold';
    font-size:1.25rem;
    color:black;
}

.projectContent .todoList .top{
    
}
.porjectContent .todoList .content{
    height: 15vh;
    width: 48.542vw;
    background-color: white;
}
.projectContent .todoList .top .content .object .title{
    
}
.projectContent .todoList .top{
    display : flex;
}
.projectContent .todoList .content .object{
    display : flex;
}
.projectContent .todoList .content .object .date{
    
}
.projectContent .todoList .content .object .checkBox{
    
}
.projectContent .liveChat{
    width: 21.51vw;
    height: 39.846vh;
    margin-left: 1.76vw;

}
.projectContent .liveChat .title{
    margin-bottom: 1.125vh;
    font-family: 'Pretendard-extraBold';
    font-size:1.25rem;
    color:black;
    display : flex;
}
.projectContent .liveChat .content{
    height:  55.063vh;
}
.projectContent .feedback{

}
.projectContent .feedback .top{
    margin-bottom: 1.125vh;
    font-family: 'Pretendard-extraBold';
    font-size:1.25rem;
    color:black;
    display : flex;
}
.projectContent .feedback .top .title{

}
.projectContent .feedback .top .more{

}
.projectContent .feedback .content{
    height: 31vh;

}
.projectContent .feedback .content .object{

}
.projectContent .feedback .content .object .date{

}
.projectContent .feedback .content .object .icon{

}
.projectContent .feedback .content .object .name{

}
.more{
    cursor: pointer;
}