.signupVerification-content {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.signup-title {
    font-family: 'Pretendard-ExtraBold';
}

.signup-step {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle img {
    width: 20px;
    height: 20px;
}

.step p {
    margin-top: 8px;
    font-size: 14px;
    color: #ccc;
}

.form-step-line {
    width: 50px;
    height: 1px;
    background-color: #ccc;
    margin-top: 30px;
}

.circle.now-circle {
    background-color: black;
}

.circle.now-circle+p {
    color: black;
}


.verification-title1 {
    font-family: 'Pretendard-Medium';
    font-size: 1.5rem;
}

.verification-title2 {
    font-family: 'Pretendard-Light';
    font-size: 1rem;
    color: #707070;
    margin-top: 15px;
}

.verification-line {
    border: none;
    border-top: 1px solid #ddd;
    margin: 60px;
    width: 50%;
}

.verification-button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.verification-cancel-button,
.verification-next-button {
    width: 300px;
    height: 60px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    margin-bottom: 100px;
}

.verification-cancel-button {
    background-color: white;
    border: 1px solid #ccc;
}

.verification-next-button {
    background-color: black;
    color: white;
}

.verification-next-button:disabled {
    background-color: #D9D9D9;
    cursor: not-allowed;
}

.code-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.code-input {
    width: 48px;
    height: 60px;
    font-size: 32px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    caret-color: #000;
    transition: border-color 0.2s;
    margin-top: 30px;
}

.code-input:focus {
    border-color: #ff7676;
    caret-color: #ff7676;
}

.resend {
    justify-content: flex-end;
    display: flex;
    width: 48%;
    color: #838383;
    margin-bottom: -50px;
    margin-top: 30px;
}